.boton::before{
    font-family: 'Courier New';
    font-style: italic;
    content: "Pasa por encima";
}
.boton:hover{
    background-color: green;
    color: white;
}
.boton:hover::before{
    content: "¡Hecho!";
}