.padre{
    width: 400px;
    height: 400px;
    background-color: blueviolet;
}
.hijo{
    width: 50%;
    height: 50%;
    background-color: orangered;
    /*transition: transform 1s ease-in 2s;*/
/* transition: transform 1s cubic-bezier(0.88,-0.01, 0.37, 0.96);*/
    animation: traslacion 5s ease-in-out infinite forwards alternate;
}
.padre:hover .hijo{
    /*transform: translateX(100%);
    background-color: yellow;*/
    animation-play-state: paused;

}
@keyframes traslacion{
    0%{
        background-color: brown;
        transform: translateX(0%) translateY(0%);
    }
    25%{
        background-color: yellowgreen;
        transform: translateX(100%)translateY(0%);
    }
    50%{
        background-color: brown;
        transform: translateX(100%)translateY(100%);
    }
    75%{
        background-color: yellowgreen;
        transform: translateX(0%) translateY(100%);
    }
    100%{
        background-color: brown;
        transform: translateX(0%) translateY(0%);
    }

}