.div-1, .div-2{
    background-color: red;
    /*display: block; -- POR DEFECTO - div lo tiene */
}
.span-1{
    background-color: aquamarine;
    /*display: inline; -- POR DEFECTO - span lo tiene */
    float: right;
}
.span-2{
    background-color: aquamarine;
    float: left;
}


